input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}
input[type=number]{
    -moz-appearance: textfield;
    height: 18px;
    width: 200px;
}
input{
    margin: 5px;
}
button{
    margin: 5px;
}

.error{
    border: 2px solid red;
    height: 18px;
    width: 200px;
}

.ui.list{
    font-size: 2em !important;
}

.ui p{
    font-size: 2em;
}

h1.ui.header{
    font-size: 3em;
}

.inverted .ui.header{
    border-bottom: grey 1rem solid;
    padding-bottom: 15px;
    margin-bottom: -5px;
}


